<header class="main-header">
  <%= link_to admin_users_path, class: "logo" do %>
    <span class="logo-mini"><%= t ".logo_mini" %></span>
    <span class="logo-lg"><%= t ".logo_lg" %></span>
  <% end %>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= gravatar_for current_user, "user-image" %>
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <%= gravatar_for current_user, "img-circle" %>
              <p><%= current_user.name %></p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to t(".change_password"), edit_admin_user_path(current_user),
                  class: "btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
                <%= link_to t("layouts.header.logout"),
                  destroy_user_session_path, method: :delete,
                  class: "btn btn-default btn-flat" %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
