<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>
  <body class="skin-blue sidebar-mini admin">
    <div class="wrapper">
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/sidebar" %>
      <div class="content-wrapper">
        <div class="content">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}
              alert-dismissible" %>
          <% end %>
          <div class="box">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
