<% provide :title, @tour.name %>

<h1 class="tour_title"><%= @tour.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p><strong><%= t ".price_per_person" %></strong>
        <%= number_to_currency @tour.price_per_person %>
      </p>
    </div>
    <div class="col-md-6" align="right">
      <p><strong><%= t ".average" %></strong>
        <i class="fa fa-star ave_star" aria-hidden="true"></i>
        <%= t ".average_rating", rate: @tour.rating,
          max_rate: Settings.rates.max_star %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong><%= t ".num_people" %></strong>
        <%= @tour.num_people %>
        <%= hidden_field_tag :max_people, @tour.num_people %>
      </p>
      <p><strong><%= t ".category" %></strong>
        <%= @tour.category.name %>
      </p>
      <p><strong><%= t ".duration" %></strong>
        <%= pluralize @tour.duration, t(".day") %>
      </p>
      <p><strong><%= t ".status" %></strong>
        <span class="status_<%= @tour.status %>">
          <%= t "status.#{@tour.status}" %>
        </span>
      </p>
      <p><strong><%= t ".discount" %></strong>
        <%= @tour.discount %>%
      </p>
      <p><strong><%= t ".start_dates" %></strong></p>
      <p>
        <% @tour.tour_dates.each do |date| %>
          <span class="tour-date"><%= l date.start_date %></span>
        <% end %>
      </p>
    </div>
    <div class="col-md-6">
      <p><strong><%= t ".tour_places" %></strong>
        <p class="breadcrumb">
          <% @tour.tour_places.each do |tour_place| %>
            <span class="tour-place"><%= tour_place.place.name %></span>
          <% end %>
        </p>
      </p>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#description" >
        <%= t ".description" %>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#booking"><%= t ".booking" %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="description"
      class="tab-pane fade in active tour_description">
      <p><%= @tour.description.html_safe %></p>

      <% if user_signed_in? %>
        <div class="row">
          <div class="col-md-12">
            <p><strong><%= t ".your_rating" %></strong>
              <% if @supports.user_rated? current_user %>
                <%= rating_for_user @tour, current_user, :quality,
                  {readonly: true} %>
              <% else %>
                <%= rating_for_user @tour, current_user, :quality %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="booking" class="tab-pane fade">
      <div class="row text-center">
      <% if user_signed_in? %>
        <% if @tour.available? %>
          <%= render "bookings/form_booking" %>
        <% else %>
          <h3 class="status_unavailable">
            <%= t "status.unavailable" %></h3>
        <% end %>
      <% else %>
        <%= t".please_sign_in" %><%= link_to t(".click_here"),
          new_user_session_path %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="custom_reviews">
    <div class="row">
      <h2 class="review_title col-xs-6"><%= t ".customer_reviews" %>
        (<%= @tour.reviews.count %>)</h2>
      <div class="col-xs-6 text-right">
        <%= link_to t(".create_review"), new_tour_review_path(@tour),
          class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="review_container">
    <% @supports.reviews.each do |review| %>
      <div class="review_content">
        <p class="review_author">
          <i class="fa fa-star-o fa-stack" aria-hidden="true"></i>
          <strong><%= review.user.name %></strong>
          <%= t ".review_about" %> <%= review.review_type %>
          <%= t ".created_at" %> <%= l review.created_at %>
        </p>
        <div class="review_post">
          <p><%= review.title %></p>
          <%= link_to t(".show_review"),
            tour_review_path(@tour, review) %>
        </div>
      </div>
    <% end %>
    <div class="col-md-12 text-center">
      <%= will_paginate @supports.reviews %>
    </div>
  </div>
</div>
