<div class="container">
  <h1><%= t ".title" %></h1>
  <div class="row omb_row-sm-offset-3 omb_socialButtons">
    <div class="col-xs-4 col-sm-2">
      <%= link_to t(".facebook"), user_facebook_omniauth_authorize_path,
        class: "btn btn-md btn-block omb_btn-facebook" %>
    </div>
    <div class="col-xs-4 col-sm-2">
      <%= link_to t(".twitter"), "#",
        class: "btn btn-md btn-block omb_btn-twitter" %>
    </div>
    <div class="col-xs-4 col-sm-2">
      <%= link_to t(".google"), user_google_oauth2_omniauth_authorize_path,
        class: "btn btn-md btn-block omb_btn-google" %>
    </div>
    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for resource, as: resource_name,
      url: session_path(resource_name) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true,
          class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "off",
          class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span><%= t ".remember" %></span>
          <% end %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.submit t(".signin"), class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <%= t ".have_account" %>
        <%= link_to t(".signup"), new_user_registration_path %>
      </div>
    </div>
  </div>
</div>
