<%= form_for [:admin, form_object] do |f| %>
  <div class="form-group">
    <%= render "shared/error_messages", object: f.object %>
  </div>
  <div class="form-group">
    <%= f.label t("admin.categories.index.name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t("admin.categories.index.parent") %>
    <%= f.select :parent_id, options_for_select(@supports.parent_categories,
      form_object.parent_id),
      {include_blank: t("admin.categories.index.select_parent_category")},
      class: "form-control" %>
  </div>
  <%= f.submit t("admin.categories.index.submit") , class: "btn btn-primary" %>
<% end %>
